<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fausto.JPG" class="img-fluid"> 
    </div>
    <DIV class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <P id="nombre">Fausto Nieto</P>
        <p>Full Stack Developer Jr</p>
    </DIV>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate suscipit autem impedit libero aspernatur modi minima in consectetur nesciunt, est, accusantium, commodi beatae sit. Adipisci aliquam assumenda accusamus porro animi!</p>
        </span>
    </div>

</div>

